@import url('https://fonts.googleapis.com/css?family=Codystar|Raleway:300,400,500,700');
/*@import url('../font/Raleway?family=Raleway');

.fsRespon, .navbar .nav li a, h1,h2 h3 h4 h5,h6, p,a{
    font-family: 'Raleway',Arial,Helvetica,sans-serif !important;
    font-family: 'Poppins',Arial,Helvetica,sans-serif !important;
}*/


html,body {
  overflow-x: hidden;
  font-family: 'Raleway',Arial,Helvetica, sans-serif;    
}

h1, h2, h3, h4, h5, h6,.sidenav ul li,#sasvar li{
    
    font-family: 'Raleway',Arial,Helvetica,sans-serif !important;
  
}
.font-raleway {
    font-family: 'Raleway',Arial,Helvetica,sans-serif !important;
}
p{
  font-family: 'Raleway',Arial,Helvetica,sans-serif !important;
}

html{
  font-size: 14px;
}
.sectionLightGray{
  background: #dfdfdf;
}
.sectionLightWhite{
  background: #f5f5f5;
}

.font-color-Black{
  color:#212121;
}
.font-color-White{
  color:#ffffff;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 1.8rem;
}
h3{
  font-size: 1.6rem;
}
h4{
  font-size: 1.4rem;
}

.fw300{
  font-weight:300;
}
.fw400{
  font-weight:400;
}
.fw500{
  font-weight:500;
}
.fw700{
  font-weight:700;
}

a:hover{
  text-decoration: none;
}
/*indexnull section*/
.noPadding{
 padding-left: 0px;
 padding-right: 0px;
}
button.navbar-toggler.navbar-toggler-right {
    position: fixed;
    top: 15px;
}
canvas#canvas {
    width: 100%;
}
.somkeContainer{
  width:100%;
  padding: 0px;
  margin:0px;
}
/********************************/
/* Home Slideshow
********************************/
.bg-black {
    background-color: #101010;
}
.smokeSection{
  height: 100vh;
  overflow: hidden;
  min-height: 600px;
}

.homeCTA{
  margin: auto;
  width: 100%;
}
.intro{
  text-align: center;
  width: 100%;
  margin: auto;
}

.smallAnimation{
 width: 400px;
 height: 280px;
 margin: auto;
}
.smallAnimation img{  
  width: 400px;
}

.smallCaptionsubText{
  letter-spacing: 1px;
}

#slideshow {
margin: 1px auto;
position: relative;
width: 400px;
padding: 10px;
}

#slideshow > div {
  position: absolute;
}

.loginbg{
	background-image: url('images/bg/portrait1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

.p_rl_30 {
    padding-right: 30px;
    padding-left: 30px;
}

.font-white, .font-white a {
    color: #fff !important;
}

.work-proc2-a {
    font-family: 'Poppins',Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: #323336;
}

.norm-16 {
    font-family: 'Poppins',Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #323336;
}
.smallCaptionsubText {
    letter-spacing: 1px;
}
/****************************
* End Home Slideshow
********************************/
/*.indexNulla{
}*/
.indexNullaLeftImg{
  /*background-image: url("../image/index-image/ysneakerholdingshoes.png");*/
  /*background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;*/
   background-image: url("../image/index-image/Holding-compressedv4.jpg");
  
  /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) 
    background-attachment: fixed;*/
    /* Center the background image */
    background-position: center;
    
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}

.indexNullaImg{
 max-height: 100vh;
}
.indexNullaTitle {
 padding: 3rem;
}

.indexNullaTitle h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 3.4rem;
}
.indexNullaTitle  p{  
  font-size: 1.2rem;
  line-height: 2rem;
  
}
.sneakerImages p:hover {
    font-weight: bold;
    color: #000;
}

.sneakerImages img:hover {
    opacity: 0.4;
}

.sneakerImages {
    padding: 1.6rem;
}

.carousel-indicators {    
    justify-content: flex-end !important;
    bottom: -3rem;
   
}
.carousel-indicators .active {
    background-color: #fff;
}
.carousel-indicators li {
    
    max-width: 12px;
    height: 12px;
    
  background-color: rgb(50, 51, 54);
    border-radius: 50%
}

.carousel-inner {
    
    min-height: 320px !important;
}

.imgWidth-100{
  width: 100%
}
.aboutSlider h1 {
  animation-duration: 1.8s;
}

.aboutSlider p{
  animation-duration: 3.2s;
}


.sneakerImages p{
  text-align: center;
  color:#000;
  
}

.brandLeftimg{
  /*background-image: url("../image/index-image/ysneakerholdingshoes.png");*/
  /*background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;*/
   background-image: url("../image/about-image/1x2 Ratio Photo.jpg");
  
  /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) 
    background-attachment: fixed;*/
    /* Center the background image */
    background-position: top center;
    
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}
/* Feature tab */
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
#featuretab a.nav-link.active {
    background: transparent !important;
    border: 0px;
}


/*start index altair*/
#indexSiriusSection,#indexAltairSection,#indexSpicaSection,#indexVegaSection,#indexAntaresSection,#indexRigelSection {
   
  /* width: 100%;*/
    background-image: url(../image/index-image/altair/bg3.png);
    background-size: cover;
    /*padding: 114px 60px 26px 61px;
     padding: 32px 39px 23px 45px;*/
     padding:6rem 4rem 0rem 2rem;
    position: relative;
    min-height: 95vh;
}

.siriusSlider,.altairSlider,.spicaSlider,.vegaSlider,.antaresSlider,.rigelSlider{
    
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;   
}

.siriusSlider h1,.altairSlider h1,.spicaSlider h1,.vegaSlider h1,.antaresSlider h1,.rigelSlider h1{
    color: #fff;
    font-weight: normal;
    font-size: 2.6rem;
    margin-bottom: 2rem;
}


.siriusSlider p,.altairSlider p,.spicaSlider p,.vegaSlider p,.antaresSlider p,.rigelSlider p{
    /*padding-right: 54px;*/
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 300;
}

.siriusSlider h2,.altairSlider h2,.spicaSlider h2,.vegaSlider h2,.antaresSlider h2,.rigelSlider h2{
   margin-top: 2rem;
}

/*end index altair*/

/*End index null section*/
/*-------------------------------------------------------------*/


/* Start BeCreative section*/


.relatingContent{
  position: relative;
   
    -webkit-transition: .27s; /* Safari */
    transition: .27s;
    color: #6b6d6f;

}



.absoluteContent{
    position: absolute;
    top: 44px;
    left: 0; 
  /*  transition: left .27s cubic-bezier(0.300, 0.100, 0.580, 1.000);*/
}
 .absoluteContent span{
    text-decoration: underline;
}  

/*.absoluteContent a:hover {
    color: #323336;     
}*/

.absoluteContent:hover{
 color: #6b6d6f;
 left:20px;
}

.emptyBox{
    margin-left: 60px;
    height: 200px;
    width: 200px;
    background-color: #f6e701;
    
}


/*.emptybox:hover {
    background-color: #000;
    -webkit-transition: background-color 1s;  For Safari 3.1 to 6.0 
    transition: background-color 1s;    

}
*/
.beCreativePara{
  padding-top: 50px;
  padding-bottom: 50px;
}

.beCreativePara p{
margin-bottom: 4rem;
font-size: 1.2rem;
line-height: 2rem;
}

.exploreButton {
    border: 2px solid #fff;
    padding: 16px;   
    border-radius: 6px;
    color: #fff;
    background-color: #323336;
    text-align: center;
    cursor: pointer;
    
}
.exploreButton:hover {
    background-color: #535961;
    color:#fff;
}
.relatingContent{
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.relatingContent:hover .emptyBox{
  background-color: #5bd3be;
 
}

.relatingContent:hover .absoluteContent{
  transition: left .2s;
}


/*End BeCreative section*/

/*----------------------------start about ysneaker section----------------------------------*/
/*start aboutus section*/


#aboutImageRespon {
    min-height: 100vh;
    background-image: url(../image/bg1.png);
    background-size: cover;
    position: relative;
}

.aboutSlider {
    min-height: 100vh;
    color: #fff;
    padding: 0px 0px 0px 0px;
    margin-top: 4rem;
}

.posiAbsoluteSet{
    position: absolute;
    bottom: 10px;
    left: 50%;

     -webkit-animation: scroll-down-anim ease-in-out 1s infinite; 
  -moz-animation: scroll-down-anim ease-in-out 1s infinite;
  -o-animation: scroll-down-anim ease-in-out 1s infinite;
   animation: scroll-down-anim ease-in-out 1s infinite; 

 }

@-webkit-keyframes scroll-down-anim {
    0%{ -webkit-transform: translateY(-8px); transform: translateY(-8px); }
    50%{ -webkit-transform: translateY(0px); transform: translateY(0px); }
    100%{ -webkit-transform: translateY(-8px); transform: translateY(-8px); }
}
@-moz-keyframes scroll-down-anim {
    0%{ -moz-transform: translateY(-8px); transform: translateY(-8px); }
    50%{ -moz-transform: translateY(0px); transform: translateY(0px); }
    100%{ -moz-transform: translateY(-8px); transform: translateY(-8px); }
}
@-o-keyframes scroll-down-anim {
    0%{ -o-transform: translateY(-8px); transform: translateY(-8px); }
    50%{ -o-transform: translateY(0px); transform: translateY(0px); }
    100%{ -o-transform: translateY(-8px); transform: translateY(-8px); }
}
@keyframes scroll-down-anim {
    0%{ transform: translateY(-8px); }
    50%{ transform: translateY(0px); }
    100%{ transform: translateY(-8px); }
}


.aboutSlider h1 {
    margin-bottom: 20px;
}

.aboutSlider p{ 
  font-size: 16px;
}



/*end about us section*/
#aboutYsneakerParaSection{
   background-color: #dfdfdf;
}

.aboutYsneakerContent{
    padding: 6rem 3rem;
}

.aboutMarginysneaker{
  margin:2rem 0rem 4rem 0rem;
}

.aboutMarginysneaker h1{
  font-size: 2.5rem;
 line-height: 4rem;
}
.aboutMarginysneaker h3{
 font-size: 1.2rem;
 line-height: 2.5rem;
}
.yspaddingRemove{
  padding-left: 10px;
  padding-right: 10px;
}

.loremYpara{
    color: #323336;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 2.1;
    font-weight: normal;
  }

.ysParaPaddingRemove{
   padding-left: 36px;
  }

/*start feature section*/


.featuresectionPara{
    padding:6rem 3rem;
     background-color: #f5f5f5;
}


.featuresectionPara img {
    float: left;
    margin-right: 15px;
}


.featuresectionPara h1{
  font-size: 2.5rem;
 line-height: 4rem;
}
.featuresectionPara h3{
 font-size: 1.2rem;
 line-height: 2.5rem;
}



.carouselServices h3 {
  font-size: 1.2rem;
  margin-top: 40px;
  margin-bottom: 18px;    
  font-weight: 500;
  line-height: 1.6;
  padding-left: 34px;

}

.carouselServices li{
  padding-bottom:10px;
  padding-bottom: 10px;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
}

.featuresectionPara .carousel {
    min-height: 27rem;
}

/*end feature section*/


/*start uniquely you section*/

  
#uniquelyYou{
  background-color: #dcdcdc;
  padding-top: 8rem;
  padding-bottom: 8rem; 
  padding-left: 8px;   
}

.uniquelyYouPara h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    margin-bottom: 55px;
}

.uniquelyParts {
    position: relative;
    padding: 10px 10px 10px 55px;
    margin-bottom: 10px;
}

.uniquelyParts h3{
  font-size: 2rem;
  line-height: 1.8;
  color: #323336;
  font-weight: normal;  
  font-family: 'Raleway',Arial,Helvetica,sans-serif !important;
  }

.uniquelyYouTitle p{
    padding: 0px 11px;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #6b6d6f;
  }
.uyFlexSet{
    margin-bottom: 5rem;
  }
.uyFlexSet h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: #212121;
}

.uyFlexSet img{
    
    float: left;
    margin-right: 15px;
 }  

 .uyFlexSet p {
    clear: both;
    margin-top: 18px;
    font-size: 1rem;
    color: #6b6d6f;
} 

/*end uniquely you section*/


/*start brand story section*/
 .brandsectionPara {
  background-color: #f5f5f5;
}
 .brandsectionPara h1 {
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 4rem;
}

.brandsectionPara h3 {
    margin-bottom: 2rem;
    padding-left: 0;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 400;
}

.brandsectionPara h3 a{
  color:#323336;
}


.brandServices h3 {
    color: #323336;
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 28px;
}

.brandServices p {
    font-size: 1rem;
    line-height: 1.8rem;   
    margin-bottom: 1.8rem;
    font-weight: 300;
}

.brandServices img {
    float: left;
    margin-right: 15px;
}

.siriusSlider .star-font {
    font-family: 'Codystar', cursive !important;
    font-size: 40px !important;
}

.siriusSlider .text-white {
    color: #fff;
}

.siriusSlider .font-light {
    font-weight: 100 !important;
}

/*end brand story section*/


/*start of yoursneaker*/
#yourSneakersSection{
  background-color: #000;
}
.listPadding img{  
width: 36px;
}  
.ysaddingIncrease{
  padding:53px 31px 35px;
}



.listPadding li{  
    padding: 0px;
    margin: auto;
    text-align: center;
}

.listPadding h6{  
 color: #fff;
 margin-top: 1rem;
}

 
.pillsContent{
  padding: 35px 0px 40px 0px;
}
 .pillsContent h2{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.7rem;
  line-height: 27px;
}
     

.pillsContent h1, .pillsContent h2, .pillsContent p{
 color: #fff; 
}

.pillsContent p{
 font-size: 1rem;
 line-height: 1.8rem;
 font-weight: 300;
}

/*end of yoursneaker*/

/*------------------------------End about ysneaker section----------------------------------*/




/*------------------------------start LETS PLAY section------------------------------------*/ 


#letsPlayCartInfo{
  padding-top: 70px;
  padding-bottom: 50px;

}



#letsPlayImageRespon,#channelyImageRespon,#contactImageRespon{
  
    background-image: url(../image/bg3.png);
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
} 

#letsPlayImageRespon h1,#channelyImageRespon h1,#contactImageRespon h1{
  text-align: center;
  color:#fff;
  padding-top: 30px;
  padding-bottom: 30px;
}


.letsPlayAtlair h1{
  font-size: 2rem;
  margin-bottom: 20px;
}
 .letsPlayAtlair p{
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 40px;
   color: #6b6d6f;
  }  
input, textarea, select {
    font-family: 'Poppins','Open Sans',Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    background: transparent;
    color: #323336;
    font-size: 14px;
    margin: 0;
    outline: medium none;
    padding: 8px 20px 8px 0;
    width: 100%;
}

.btn-cart {
    color: #fff;
    background-color: #323336;
    /* border-color: #0275d8; */
    border-radius: 28px;
    padding: 12px 49px;
}

.btn-cart:hover{
    color: #fff;
    background-color: #535961;
    
}

.cartLeft{
  float:left;
 margin-right:38px;
}

.shareMargin img{
  /*margin-top: 11px;*/
      margin-top: 10px;
}


.numberMarginIncrease,.cartMarginIncrease{
  margin-top: 30px;
}
/*form div{
  margin-bottom: 14px;
  margin-top: 13px;
}*/

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: 0; */
    border-top: 1px solid #cccccc;
    width: 100%;
}

.skuColor h6{
      color: #6b6d6f;
      font-size: 12px;
}

.skuColor p{
  font-size: 12px;
  color: #000;
}

.marginIncreaseForm{
  margin-bottom: 50px;
}

li.list-inline-item {
    padding: 0px 18px;
    left: initial;
    margin: auto;
    display: inline-block;
}

.ulbackGroudnColor{
  background-color: #eee;
}

/*-----------------------------End LETS PLAY section--------------------------------------*/



/*-------------------------------start inspiration page---------------------------------*/

.inspirationSlider {
    height: 100vh;
    color: #fff;
       padding: 0px 20px 0px 52px;
    margin-top: 10rem;
}

.inspirationSlider h1 {   
    font-size: 60px;
    color:#fff;

}

.inspirationSlider p {   
    padding-right: 9.6rem;
    color: #fff; 
     margin-top: 1.5rem;    
}

#sasvar{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #eee;
}

.sasvarPaddingRemove{
  padding-right: 0px;
  padding-left: 0px;
  }

.sasvar-filter{
  margin-bottom: 45px;
}
.sasvar-filter li{
  font-size: 14px;
}
.sasvar-filter li a{
  color: #6b6d6f;
}

.sasvar-filter a:hover {
    color: #323336;
    text-decoration: none;
}



.sasvar-filter li.list-inline-item {
    padding: 10px 10px;
}

.sasvarPaddingRemove{
  position: relative;
    height: 100%;
    overflow: hidden;
  }

.sasvarPaddingRemove .overlay {
 position: absolute;
    top: 0;   
    width: 100%; 
    height: 100%;
    padding: 40px;  
    display: none;
    color: #fff;
}

.sasvarPaddingRemove:hover .overlay{
display: block;
background-color: rgba(0, 0, 0, .8);
}

.sasvarPaddingRemove .zoomImage{
  transition: all .2s ease-in-out;
  max-width: 100%;
}
.sasvarPaddingRemove:hover .zoomImage{
  transform:scale(1.1);
}

.sasvarPaddingRemove .overlay h3{
  font-size: 18px;
    margin-top: 50px;

}

.sasvarPaddingRemove .overlay p{
  font-size: 12.7px;
   

}



/*------------------------------end inspiration page-----------------------------------*/

.beCreativePaddingFixed{
  padding: 5px;
}
.beCreativePaddingRemove{
  position: relative;
  overflow: hidden;
 
}

.beCreativePaddingRemove .overlay {
    position: absolute;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    color: #fff;
    display: none;
    padding: 20px;
    cursor: pointer;
}

.beCreativePaddingRemove:hover .overlay{
display: block;
background-color: rgba(0, 0, 0, .8);
}
.zoomImage{
 -webkit-transition: all .3s ease; /* Safari and Chrome */
  -moz-transition: all .3s ease; /* Firefox */
  -o-transition: all .3s ease; /* IE 9 */
  -ms-transition: all .3s ease; /* Opera */
  transition: all .3s ease;
}
.beCreativePaddingRemove:hover .zoomImage{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
  -moz-transform:scale(1.20); /* Firefox */
  -ms-transform:scale(1.20); /* IE 9 */
  -o-transform:translatZ(0) scale(1.20); /* Opera */
  transform:translatZ(0) scale(1.20);
}
.beCreativePaddingRemove .overlay h6{
  font-size: 13px;
  margin-top: 20px;
}

.beCreativePaddingRemove .overlay p{
  font-size: 9.7px;
}



/*--------------------------------------------------------*/

/*------------------start Channely page-------------------*/
#channeYpadding,#blogInfoSection,#contactText{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #dfdfdf;
}


#channeYpadding .channelYimageTitlePara{

padding-bottom: 90px;
}

.channelYimage img.img-fluid:hover {
    opacity: 0.5;
}

.channeYtitle h3{
    font-size: 22px;
    margin-top: 2rem;
    color: #292b2c;

}

.channeYtitle h3:hover {
    opacity: 0.5;
}
.channeYcolor, .channeYcolor a{
  color: #97999c;
  font-size: 13px;
}

.channeYcolor a:hover, .channelYreadMore a:hover {
    color: #000;
}

.channelYparagraph{
  margin-top:20px;
  margin-bottom:30px;
  font-size: 14px;
  line-height: 25px;
  color: #6b6d6f;
}

.channelYreadMore a{
    font-size: 14px;
    color: #6b6d6f;

}

.pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.7rem;
    margin-left: 5px;
    line-height: 1.25;
    color: #323336;
    background-color: #fff;    
    
}



.pagination .page-link:hover {
    z-index: 2;
    color: #323336;
    cursor: default;
    background-color: #eee;
    border-color: #fff;
    border-radius: 0%;
}
/*------------------end channely page---------------------*/


/*------------------start blog-extended-------------------*/
#blogSection{
    height: 100vh;
  /* width: 100%;*/
    background-image: url(../image/index-image/altair/bg3.png);
    background-size: cover;    
     padding: 32px 39px 23px 45px;
    position: relative;
}

.blogExtendedContent{
  padding-top: 8.5rem;
}

.blogExtendedContent h2{
  color: #fff;
  margin-top: 27px;
  margin-bottom: 18px;
}

.blogSponsor{
    color: #6b6d6f;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 24px;
}

.blogSponsor a {
    color: #323336;
   
}

.blogSponsor a:hover{
   color: #fff;
}

.blogMarginBottom{

}
.blogSocialIcon a{

 padding:3px;
}

.blogSocialIcon a:hover{
  opacity: 0.5;
}

.blogRelatedPara h6{
  font-size: 18px;
  line-height: 30px;
      color: #323336;
      margin-bottom: 30px;
}


.blogRelatedPara p{
  font-size: 14px;
    line-height: 25px;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #6b6d6f;
   
  }

.blogRelatedPara h4{
  margin-top: 21px;
  margin-bottom: 21px;
}

.pageLink a {
   
    float: left;
    width: 33.33333%;   
    cursor: pointer;
    color:#333;
    font-size: 11px;
}

.pageLink i{
  color: #333;;
}

.pageLink i:hover{
    color: #97999c;
  }

.page-prev{
  text-align: left;
}

.page-all{
  text-align: center;
}

.page-next{
  text-align: right;
}

.pageLink a:hover, a:focus{
    color: #97999c;
  }
.pagerPrevNext{
  padding-top: 30px;
    padding-bottom: 30px;
}

/*------------------end blog-extended---------------------*/

/*start contact section*/

#contactText #statusmsg{
    background: #eeeeee;
    padding: 20px;
    border: 1px solid #d4d4d4;
    margin-bottom: 50px;
    color: #888;
}


#contactText .formExtraStyle{  
    background-color: #dfdfdf;
    background-image: none;
    -webkit-background-clip: padding-box;
    border:none;
    border-bottom: 1px solid #ccc;    
    border-radius: 0rem;
    color: #323336;
    font-size: 14px;    

  }

  #contactText .formExtraStyle:focus{
    border-color: #323336;
}

.contactLM h3{
  font-size: 24px;
  color: #323336;
  font-weight: normal;
}

 #contactText input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ccc inset !important;
}

   button.btnMessage {
      color: #fff;
    background-color: #323336;
        border-color: #323336;
        margin-top: 40px;
        font-size: 14px;
  }

    button.btnMessage:hover {
    background-color: #535961;
    border-color: #535961;
}
#contactInformation{
  background-color: #eee;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contactAddPhone{
  position: relative;
  margin: 2rem;
  max-width: 320px;
}

.contactAddPhone h3{
  font-size: 18px;
  color: #6b6d6f;
}

.contactAddPhone p{
  font-size: 13px;
  color: #6b6d6f;
}

.contactAddPhone a{  
  color: #6b6d6f;
}

 .contactAddPhone a:hover{
  color: #97999c;
 }  
hr{
  border: 1px solid rgba(83, 88, 95, 1);

}
     
/*.contactAddPhone .contactIcon {
    position: relative;
    top: 0px;
  
    margin-right: 34px;
    float: left;
    text-align: center;
    width: 40px;
}*/

.contactIcon i{
    font-size: 40px;
    color: #6b6d6f;
}

.contactLM, .form-group{
  margin-bottom: 2rem;
}

/*.text-xxs-center h5 {
    font-size: 14px;
    letter-spacing: normal;  
    font-weight: normal;
       color: #323336;
       line-height: 2rem;

}*/

   .text-blur{
     color: #6b6d6f;
    }

.mr-26{
  margin-left: 26px !important;
}
/*end contact section*/
   
 /*pop up image*/



 /*end pop up image*/

 /* slick slider for product */
 /*.shoeSliderView *{
  text-align: center;
 }

 .slick-slide img {
  margin: auto !important;
}*/

.productSliderShoe img{
  margin: auto;
}


/*a.carousel-control-next, a.carousel-control-prev {
    color: #0e0f0f;
    font-size: 30px;
}
  .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: #f7cf58;
  }*/
  /*.carousel-control-prev, .carousel-control-next{
    top: -100px;
  }*/
  .aboutCuteGirl{
   /* background-image: url("../image/about-image/Jasmine-compresses.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 500px;*/
    background-image: url("../image/about-image/Jasmine.jpg");
    /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) 
    background-attachment: fixed;*/
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
  }
  aboutSlider p a, aboutSlider p a:focus, aboutSlider p a:hover{
    color: #fff;
  }
  a{
    color:#fff;
  }

  #rotate-header{
    display: none;
  }